Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
psycopg2-binary
python-dotenv
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
git+https://github.com/ignacioaltamirano23/auth-common.git@v0.1.0
pyyaml
requests